*{
    scroll-behavior: smooth;
}
@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(15deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.wave-hand {
    animation: wave 1.5s ease-in-out infinite;
    transform-origin: bottom center;
}

.center-slide {
    transform: scale(1.1);
    filter: blur(0);
    opacity: 1;
    z-index: 10;
}

.side-slide {
    transform: scale(0.8);
    filter: blur(2px);
    opacity: 0.6;
    z-index: 5;
}

.bg-slider {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* STICKY */
    transition: background-image 1s ease-in-out;
    /* Smooth fade */
}

section {
    scroll-snap-align: start;
}

.testimonial {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 400px;
    transform: translate(-50%, -50%) scale(0.7);

    transition: transform 0.7s ease, opacity 0.7s ease, z-index 0.7s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    z-index: 5;
}

.left1 {
    transform: translate(-120%, -50%) scale(0.8);
    z-index: 4;
}

.left2 {
    transform: translate(-150%, -50%) scale(0.7);
    z-index: 3;
}

.right1 {
    transform: translate(20%, -50%) scale(0.8);
    z-index: 4;
}

.right2 {
    transform: translate(50%, -50%) scale(0.7);
    z-index: 3;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}